---
# My first theme
---
@import "experimental";

blockquote {
    border:none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    text-rendering: otimizeLegibility;
    background-image: url('{{ site.baseurl }}/assets/placeholder.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size:100% 95%;
    background-attachment: fixed;
    color: $fore;
}

nav {
    padding-top: 1em;
    background: $cianpen;
}

h1, h2, h3, em, a {
    color: $cianpen;
    text-decoration: none;
    font-style: normal;
}

a {
    font-family: 'Fira Mono', monospace;
}

.danger {
    font-style: italic;
    color: red;
}

section {
    @extend .section;
    @extend .row;
    min-height: 300px;
}

.item {
    @extend .l4;
    @extend .m6;
    @extend .s12;
}

.topic1, .topic2, .topic3, .topic4, .text-main {
    @extend .col;
    @extend .s12;
    @extend .m10;
}

.topic1 {
    h1, h2, h3, h4, em {
        color: $cianpen;
    }
}


.topic2 {
    h1, h2, h3, h4, a, em {
        color: $orangepen;
    }
}

.topic3 {
    h1, h2, h3, a, h4, em {
        color: $violetpen;
    }
}

.topic4 {
    h1, h2, h3, h4, a, em {
        color: $pinkpen;
    }
}

.offset-m2 {
    h1, h2, h3, h4, p, a {
        text-align: right;
    }
}

.text {
    margin: 50px;
    p {
        @extend .flow-text;
        margin-bottom: 1.5em;
    }
}

.mobile-calendar {
    min-height: 100px;
}

.logo {
    margin: 5px;
}

.collapsible-header, .card {
    // background-color: $card;
}

.dim {
    margin: auto;
}

@media #{$medium-and-down} {
    .browser-calendar {
        display: none;
    }
    .logo {
        height: 35px;
    }
}
@media #{$large-and-up} {
    .mobile-calendar {
        display: none;
    }
    .logo {
        margin-left: 20px;
        height: 40px;
    }
    .dim {
        max-width: 50%;
    }
}
