---
# My first theme
---
@import "experimental";

body {
    font-family: 'Fira Sans', sans-serif;
    text-rendering: otimizeLegibility;
    background: $back;
    color: $fore;
}

main {
    @extend .container;
}

nav {
    padding-top: 1em;
    background: $darkgreen;
}

h1, h2, h3, em, a {
    color: $green;
    text-decoration: none;
    font-style: normal;
}

a {
    font-family: 'Fira Mono', monospace;
}

section {
    @extend .section;
    @extend .row;
    min-height: 600px;
}

.item {
    @extend .l4;
    @extend .m6;
    @extend .s12;
}

.topic1, .topic2, .topic3, .topic4, .text {
    @extend .col;
    @extend .m8;
    @extend .s12;
}

.topic1, .topic3 {
    h1, h2, h3, em {
        color: $green;
    }
}

.topic2, .topic4 {
    h1, h2, h3, em {
        color: $blue;
    }
}

.text {
    margin: 50px;
    p {
        @extend .flow-text;
        margin-bottom: 1.5em;
    }
}
