<nav>
<div class="nav-wrapper">
  <a href="/"><img class="logo" src="/assets/logo.png"></a>
  <a href="#" data-activates="mobile-demo" class="menu-icon button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
    <li><a href="/academic">Vida Acadêmica</a></li>
    <li><a href="/calendar">Calendário</a></li>
    <li><a href="http://bcc.ime.usp.br/matrusp">Matrusp</a></li>
    <li><a href="/news.html">Novidades</a></li>
    <li><a href="/coming">Futuro BCÇóide</a></li>
    <li><a href="/about">Sobre o Apoio ao BCC</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="/academic">Vida Acadêmica</a></li>
    <li><a href="/calendar">Calendário</a></li>
    <li><a href="http://bcc.ime.usp.br/matrusp">Matrusp</a></li>
    <li><a href="/news.html">Novidades</a></li>
    <li><a href="/coming">Futuro BCÇóide</a></li>
    <li><a href="/about">Sobre o Apoio ao BCC</a></li>
  </ul>
</div>
</nav>
