<div class="navbar-fixed">
<nav>
<div class="nav-wrapper">
  <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/assets/logo.png"></a>
  <a href="#" data-activates="mobile-demo" class="menu-icon button-collapse"><i class="material-icons">menu</i></a>
  <ul class="right hide-on-med-and-down">
    <li><a href="{{ site.baseurl }}/academic">Vida Acadêmica</a></li>
    <li><a href="{{ site.baseurl }}/calendar">Calendário</a></li>
    <li><a href="{{ site.baseurl }}/matrusp">Matrusp</a></li>
    <li><a href="{{ site.baseurl }}/news.html">Novidades</a></li>
    <li><a href="{{ site.baseurl }}/coming">Futuro BCÇóide</a></li>
    <li><a href="{{ site.baseurl }}/about">Sobre o Apoio ao BCC</a></li>
  </ul>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="{{ site.baseurl }}/academic">Vida Acadêmica</a></li>
    <li><a href="{{ site.baseurl }}/calendar">Calendário</a></li>
    <li><a href="{{ site.baseurl }}/matrusp">Matrusp</a></li>
    <li><a href="{{ site.baseurl }}/news.html">Novidades</a></li>
    <li><a href="{{ site.baseurl }}/coming">Futuro BCÇóide</a></li>
    <li><a href="{{ site.baseurl }}/about">Sobre o Apoio ao BCC</a></li>
  </ul>
</div>
</nav>
</div>
