<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include head.html %}
</head>
<body>
    {% include header.html %}
    <left>
    <div class="container">
        <div class="row">
        <main class="text-main card-panel">
            <section>
            <div class="text">
                <h2>{{ page.title }}</h2>
                <i class="author">Por {{ page.author }} | Em {{ page.date }}</i>
                <div class="fb-like" data-href="https://www.facebook.com/bccnewsfeed" data-layout="standard" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                <hr>
                {{content}}
            </div>
            </section>
        </main>
        </div>
        <footer>
            {% include footer.html %}
        </footer>
    </div>
    </left>
</body>
</html>
